<h2>List of Events</h2>

<table class="striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Branch</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
  {{#each model as |event|}}
    {{#link-to "event" event tagName="tr"}}
      <td>{{event.commitDate}}</td>
      <td>{{event.branch.branchPath}}</td>
      <td>{{event.commitComment}}</td>
    {{/link-to}}
  {{/each}}
  </tbody>
</table>
<hr>

{{outlet}}
